---
apiVersion: kode.jacero.io/v1alpha1
kind: Kode
metadata:
  labels:
    app.kubernetes.io/name: kode-operator
    app.kubernetes.io/managed-by: kustomize
  name: kode-codeserver-sample
  namespace: default
spec:
  templateRef:
    kind: KodeTemplate
    name: kodetemplate-codeserver-sample
    namespace: default
  user: user1
  password: password1
  # storage:
  #   accessModes:
  #     - ReadWriteOnce
  #   resources:
  #     requests:
  #       storage: 1Gi
  #   storageClassName: standard
